@using Microsoft.AspNet.Identity
@model Web.Models.SkillModels.Skill

@{
    ViewBag.Title = "GetModule";
}

<h2>@Model.Name Module</h2>
@if (Model.SkillId == 3)
{
    <img src="https://epam.sharepoint.com/sites/ASPNetCore/_layouts/15/getpreview.ashx?resolution=1&guidSite=c73f2e3da1c54dccae218049f0d69c46&guidWeb=16e580516818441d98004630bc44a519&guidFile=c8a1685868354051aecca7229dc26984&clientType=modernWebPart" style="width:30%; float: right;
    position: relative;
    bottom: -50px;"/>
}
<div>
    <div class="row">
        <h3 style="text-align:center">Module agenda</h3>
        <div style="display: flex; justify-content: center;margin-left: 36px;">
            <ul>
                @foreach (var item in Model.Points)
                {
                    <li>@item.Description</li>
                }
                @if (User.IsInRole("Mentor"))
                {
                    @Html.ActionLink("Add agenda point", "AddPoint", "Module", new { skillId = Model.SkillId }, htmlAttributes: new { @class = "btn btn-success", @style = "background-color:#720D5D" })
                }
            </ul>
        </div>
        <h3 style="font-weight:bold">Lections</h3>
        <a href="#">@Model.Lections</a>
        <h3 style="font-weight:bold">Tasks</h3>
        @foreach (var item in Model.Tasks)
        {
            <h4 style="font-weight:bold">@item.Number.@item.Name</h4>
            <div>@item.Description</div>
            <h4 style="font-weight:bold">Note:</h4>
            <div>@item.Note</div>
            <h4 style="font-weight:bold">Materials:</h4>
            foreach (var material in item.Materials)
            {
                <a href="#">@material.Name</a><br />
            }
            <br />
        }
        @if (User.IsInRole("Mentor"))
        {
            @Html.ActionLink("Add Material", "AddMaterial", "Module", new { skillId = Model.SkillId }, htmlAttributes: new { @class = "btn btn-success", @style = "background-color:#720D5D" })
        }
        @if (User.IsInRole("Mentor"))
        {
            @Html.ActionLink("Add new Task", "AddTask", "Module", new { skillId = Model.SkillId }, htmlAttributes: new { @class = "btn btn-success", @style = "background-color:#720D5D" })
        }
        @if (User.IsInRole("User"))
        {
            @Html.ActionLink("Subscribe", "AddTask", "Module", new { skillId = Model.SkillId }, htmlAttributes: new { @class = "btn btn-success", @style = "background-color:#720D5D" })
        }
    </div>
</div>

