@model IEnumerable<Web.Models.RoleModels.ApplicationRole>

@{
    ViewBag.Title = "Роли";
}

<h2>Роли</h2>
<table class="table table-bordered">
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th></th>
        <th style="width:40%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                @*@Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div>
    <button class="btn btn-success" value="Create a new role">
        <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
        @Html.ActionLink("Добавить роль", "Create", "Roles")
    </button>
    <button class="btn bg-warning" value="Check user list">
        <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
        @Html.ActionLink("Посмотреть список пользователей", "UserList", "Roles")
    </button>
</div>