@model Web.Models.UserModels.LoginModel

@{
    /**/

    ViewBag.Title = "Login";
}

<div class="container">

    <form class="well form-horizontal" action=" " method="post">
        @Html.AntiForgeryToken()
        <fieldset>
            @Html.ValidationSummary(false)
            <!-- Form Name -->
            <legend><center><h2><b>Авторизация</b></h2></center></legend><br>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Электронная почта</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Пароль</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>


            <!-- Button -->
            <div class="row">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-2">
                    <br>
                    <button class="btn btn-warning">
                        @Html.ActionLink("Вернуться", "Index", "Home", htmlAttributes: new { @style = "color:white" })
                    </button>
                </div>
                <div class="col-md-offset-6">
                    <br><button type="submit" class="btn btn-success" style="background-color:#720D5D">
                        Вход
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</div><!-- /.container -->