<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #5D1049;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #4E0D3A;
      color: white;
      padding: 15px;
    }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#4E0D3A">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Knowledge portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Modules", "Index", "Mentor")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <div style="padding-right:225px">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row content" style="height:1000px">
            <div class="col-sm-1 sidenav">
                <p>@Html.ActionLink("C#", "Index", "Mentor", new { categoryId = 3 }, new { @style = "color:white;" })</p>
                <p>@Html.ActionLink("Java", "Index", "Mentor", new { categoryId = 12 }, new { @style = "color:white;" })</p>
                <p>@Html.ActionLink("SQL", "Index", "Mentor", new { categoryId = 13 }, new { @style = "color:white;" })</p>
            </div>
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p>2019 Danilovich Sergey</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>